html, body {
	height: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.body-back {
    background-color: #00bfa5;
    min-height: 100%;
  }




.logo-startup {
    font-family: 'Londrina Sketch', cursive;
    font-size: 4em;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.logo-lacerba {
    max-height: 150px;
    margin-top: 20px;
}

.main {
    height: 100%;
}

h1 {
	font-size: 3.2em;
}

.header-title {
    margin-top: 0;
}

.header-icon {
    margin-top: 20px;
}

footer.page-footer  {
    margin-top: 0;
}